.whatsContainer {
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 9999;
}
.box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background-color: var(--secondColor);
    color: white;
    z-index: 9999;
   
    
    width: 80px;
    padding: 7px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cont {
    color: white !important;
    text-decoration: none !important;
}