.btn {
    padding: 7px 15px;
    height: 40px;
    background-color: var(--secondColor);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: capitalize;
    border: none;
    z-index: 3;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.btn:hover::before {
    width: 100%;
}
.btn:hover , .btn:hover .link {
    color: var(--secondColor) !important;
}
