.imgContainer {

  height: 400px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 8px !important;
  object-fit: contain;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}