.sidebar {
    background-color: #f8f9fa;
    min-height: 100vh;
    width: 170px;
}
.logoContainer {
    width: 100%;
    height: 100px;
    background-color: #23262e;
}
.logo{
    padding: 7px;
    width: 95%;
    height: calc(100% + 20px);
    margin:10px auto 0 !important;
    object-fit: cover;
}

.nav {
    height: 100px;
    background-color: #23262e;
    width: 100% ; 
   
}
.av {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.length {
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.navContainer {
    width: 100vw;
    height: 80px;
    background-color: #23262e;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.logoMob {
    width: 80px;
    height: 50px;
    object-fit: cover;
    margin-top: 10px !important;
}
.mainIcon {
    cursor: pointer;
    color: var(--secondColor) !important;
  font-size: 22px !important;
}
.mobBar {
    background-color: var(--mainColor);
    position: fixed;
    top: 0;
    width: 320px;
    height: 100vh;
    z-index: 999999 !important;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.show {
    left: 0;
}
.hide {
    left: -300%;
}
.closeIcon {
    position: absolute;
 right: 5px;
 top: 5px;
 color: var(--secondColor);
}