.statesIcon {
  background-color: #fff;
  color: #191942;
    border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 1px 1px 5px #999;
  
 
}

