.mainContainer {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--mainColor);
   
}
.dots {
   width: 25px;
   height: 25px;
   position: relative;
}

.dots::before,
.dots::after {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: 50%;
   background: var(--secondColor);
}

.dots::before {
   box-shadow: -26.9px 0 var(--secondColor);
   animation: dots-dm1l1cmd 0.6s infinite linear;
}

.dots::after {
   transform: rotate(0deg) translateX(40px);
   animation: dots-dh1qq5md 0.6s infinite linear;
   -webkit-transform: rotate(0deg) translateX(40px);
   -moz-transform: rotate(0deg) translateX(40px);
   -ms-transform: rotate(0deg) translateX(40px);
   -o-transform: rotate(0deg) translateX(40px);
}

@keyframes dots-dm1l1cmd {
   100% {
      transform: translateX(40px);
      -webkit-transform: translateX(40px);
      -moz-transform: translateX(40px);
      -ms-transform: translateX(40px);
      -o-transform: translateX(40px);
}
}

@keyframes dots-dh1qq5md {
   100% {
      transform: rotate(-180deg) translateX(40px);
      -webkit-transform: rotate(-180deg) translateX(40px);
      -moz-transform: rotate(-180deg) translateX(40px);
      -ms-transform: rotate(-180deg) translateX(40px);
      -o-transform: rotate(-180deg) translateX(40px);
}
}