.heroContainer {
width: 100vw;
  height: 100px;
  background-color: #1b1c21 !important;
  display: flex;
  align-items: center;
}
.imgContainer {
  width: 100%;
  height: 385px;
  position: relative !important;
 
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}