* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  --mainColor: #222240;
  --secondColor: #F58220;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-transform: capitalize;
}
/* utilit classes */
.link {
  text-decoration: none;
  color: white !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.link:hover{
  color: var(--secondColor) !important;
}
.webMain {
  background-color: var(--mainColor) !important;
  min-height: calc(100vh - 270px);
}
.mt {
  margin-top: 80px;
}
.mainForm {
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.error {
  font-size: 12px;
  color: red !important;
}
.inp {
  border: 1px solid #ccc;
  width: 100%;
  height: 40px;
  padding: 7px 15px;
  caret-color: var(--secondColor);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.inp:focus {
  outline: 1px solid var(--secondColor);
}
.inp::placeholder {
   font-weight: bold;
    color: gray;
    text-transform: capitalize;
}
.label {
  color: var(--secondColor);
}
.btn {
  padding: 7px 15px;
  border: none;
  background-color: var(--secondColor) !important;
  color: white !important;
  text-transform: capitalize !important;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.t-none {
  text-decoration: none;
}
.overlay {
    position: absolute;
    top : 0 ; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.pointer {
  cursor: pointer;
}
/* start swipper */
.swiper-wrapper {
  min-height: 400px;
  display: flex !important;
}

.swiper-slider {
  width: 15% !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 50%;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--secondColor) !important;
}

.slider {
  padding: 7px;
  background-color: #191942 !important;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/* end swipper */
/* start pagination */
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  
  margin: 25px auto 0;
}

.paginationBttns a {
  text-decoration: none !important;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #202026;
  color: white !important;
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--mainColor) !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.paginationBttns a:not(.paginationActive a):hover {
  color: var(--secondColor) !important;
  background-color: #202026;
  border-color: white !important;
}

.paginationActive a {
  color: white !important;
  background-color: var(--secondColor) !important;
}

/* end pagination */
/* start dashboard */
.dash-link {
  color: var(--mainColor) !important;
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.dash-link:hover {
  color: var(--secondColor) !important;
}
.main-dash {
  background-color: #ececec!important;
  min-height: calc(100vh - 100px);
  
}
.main-dash-mob {
  background-color: #ececec;
  min-height:100vh;
}
/* end dashboard */